body{
    margin: 0;
    padding: 0;
}

/*HERO*/

.hero{
    background: url(/assets/Background_1.svg) no-repeat;
    background-size: 100%;
    text-align: center;
    padding-top: 232px;
    padding-bottom: 231px;
}

.hero h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}

.hero h2{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

/*MAIN*/

.main{
    background: #EEEEEE;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    padding-top: 87px;
    padding-bottom: 98px;
}

.main h2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #464547;
}

.main h3{
    font-size: 24px;
    line-height: 32px;
    font-style: normal;
    font-weight: 400;
    color: #666666;
    margin-bottom: 48px;
}

.main button{
    background: #55C2D8;
    border: none;
    border-radius: 18px;
    font-family: 'Oswald';
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;  
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 5px 23px 5px 23px;
    margin-top: 48px; 
}

/*LEARN-MORE*/

.learn-more{
    padding-top: 84px;
    padding-bottom: 90px;
    background: url(/assets/Background_2.svg) no-repeat;
    background-size: 100%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

.learn-more h2{
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.learn-more h3{
    font-style: normal;
    font-weight: 400;
}

.learn-more button{
    background: #39C2D7;
    border:none;
    color:#FFFFFF;
    font-size: 70px;
    border-radius: 50%;
    padding: 35px 40px 35px 55px;
}

/*FOOTER*/

.footer{
    background-color: #464547;
    padding: 21px 0px 38px 140px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

.logo_footer{
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer a{
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}